.App {
  background: rgb(53, 49, 49);
  height: 100vh;
}

.primary-header {
  font-size: 4em;
  padding: 0.5em 1em;
  font-weight: 700;
}

.primary-font {
  font-family: Arial, Helvetica, sans-serif;
}